# Build results
bin/
obj/
dist/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# User-specific files
*.rsuser
*.DotSettings.user
